input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

/* Customize fonts */
body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 20px 20px 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.76;
  zoom: 0.95;
  transition: opacity 0ms 0ms;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.99;
  transition-delay: 0;
}

#logo {
  /* Appearance */
  background-color: transparent;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.25;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

#logo:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#img-id{
  position: fixed;
  right: 10px;
  top: 5px;
}

